.boxLineal {
    width: 100%;
    height: 200px;
    background: linear-gradient(45deg,red, blue,green);
}
.boxRadial {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background: radial-gradient(orange,red, yellow);
}
/* Transformaciones */

.boxTransform {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 0 auto;

}
.boxTransform.translate {
    background-color: cyan;
    transform: translate(50px, 75px);/*primer valor eje x, segundo valor eje y*/

}
.boxTransform.rotate{
    background-color: magenta;
    transform: rotate(0deg);
    transition: all 1s;


}
.boxTransform.scale {
    background-color: greenyellow;
    transform: scale(2);
    margin-bottom: 100px;
}
.boxTransform.skew {
    background-color: black;
    color: white;
    transform: skew(-20deg, 343deg);
}
.boxTransform.rotate:hover {
    transform: rotate(180deg);
    background-color: tomato;
}
.boxTransform.skew:hover {
transform: skew(20deg, -343deg);
}
/*transiciones*/
.boxTransition {
    width: 300px;
    height: 150px;
    background-color: tomato;
    transition: all 2s;
}
.boxTransition:hover{
    width: 600px;
    height: 300px;
    background-color: turquoise;
}

.boxTransition:hover h1 {
    color: white;
    font-size: 48px;
}
.boxTransition:hover + h2{
    color: red;
    font-size: 20px;
    background-color: aquamarine;
}
div input{
    width: 150px;
    height: 25px;
    transition: all 1s;
}
div input:focus {
    width: 300px;
    height: 50px;
    font-size: 21px;
    background-color: aquamarine;
}
@keyframes mi-efecto {
    0% {
        background-color: greenyellow;
        width: 300px;
        height: 150px;
    }
    50% {
        background-color: tomato;
        width: 150px;
        height: 300px;
        transform: rotate(45deg);
    }
    100% {
        background-color: cyan;
        width: 100%;
        height: 50px;
    }

    
}
.boxAnimate {
    border: 5px solid black;
    background-color: aqua;
    /*background-color: aqua;
    animation: mi-efecto;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 3; */
    animation: mi-efecto 10s 2s 3 linear ;

}